/* form {
    display: flex;
}

form > input {
    background-color: whitesmoke;
    width: 180px;
    padding: 6px 20px 6px 2px;
    outline: none;
    border: none;
    border-radius: 10px;
}

form > input:hover {
    background-color: rgb(226, 218, 218);
} */

/* form > button { */
    /* margin-left: 8px; */
    /* border-radius: 50%; */
    /* border: none; */
    /* outline: none; */
    /* font-size: 24px; */
    /* color: whitesmoke; */
    /* background-color: rgb(255, 68, 0); */
    /* cursor: pointer; */
/* } */
/*  */
/* form > button:hover { */
    /* background-color: #af786d; */
/* } */