

.todo-item > li {
    margin: 4px 0;
    width: 25vh;
    background-color: #CDF2F9;
    padding: 6px 9px;
    border-radius: 20px;
    color: rgb(85, 82, 82);
    font-size: 16px;
}


.delete-btn {
    margin: 5px 0 0 10px;
    background-color: white;
    color: red;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;
}

.delete-btn:hover {
    opacity: 1;
}

